body {
  font-family: Tahoma, Geneva, sans-serif;
  background: #EEF1EF;
}

/**header**/

/** HEADER **/
#header-nav {
  background-color: #11B6C3;
  
}

nav div {
	position: relative;
	height:110px;
}
h1 {

	font-weight: bold;
	color: #ffffff;
}

/**end header**/
/** Main Content **/

#main-content h2 {
	font-size: 30px;
	margin-bottom: 30px;
}

#main-content .section {
	
	background: #A9B4C2;
	
	padding: 20px auto 30px;

}

.section #section-name {
	font-size: 20px;
	text-align: center;
	padding-top: 20px; 
	margin: 0;
}
.section p {
	padding: 30px 30px 30px 30px;
	font-size: 16px;
	height: 1000px;
	overflow: hidden;
	
}

/** Main Content end**/


/********** Medium devices only **********/
@media (min-width: 992px) {


}
/********** small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}
/********** extra small devices only **********/
@media (max-width: 767px) {

}
