body {
  font-family: Tahoma, Geneva, sans-serif;
  background: #EEF1EF;
}

/**header**/

/** HEADER **/
#header-nav {
  background-color: #11B6C3;
  border-radius: 0;
}

button {
	border: 2px solid #EEF1EF;

}


 .navbar-header {
    height: 110px;
}

h1 {

	font-weight: bold;
	color: #ffffff;
	margin-top: 20px;

}


#nav-list {
	padding: 0px;

	border:2px solid white;
}
#nav-list a {
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
}



#nav-list :active {
    background: #0388C1;

}
#nav-list :active {
    background: #0388C1;

}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: 0px;
}
hr {
	margin: 0px;
	color:#ffffff;
}
li:hover { 
    background-color: #BCD3F2;
}

/**end header**/
/** Main Content **/

#main-content h2 {
	font-size: 30px;
	margin-bottom: 30px;
}

#main-content .section {
	
	background: #F6D8AE;
	
	padding: 20px auto 30px;

}

.section #section-name {
	font-size: 20px;
	text-align: center;
	padding-top: 20px; 
	margin: 0;
}
.section p {
	padding: 30px 30px 30px 30px;
	font-size: 16px;
	height: 1000px;
	overflow: hidden;
	
}

/** Main Content end**/


/********** Medium devices only **********/
@media (min-width: 992px) {


}
/********** small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}
/********** extra small devices only **********/
@media (max-width: 767px) {

}
